<% layout("/layouts/boilerplate") %>

<div class="create-container">

    <h1 class="create-title">Create New Listing</h1>

    <form class="create-form"
          method="POST"
          action="/listings"
          enctype="multipart/form-data">

        <input
            type="text"
            name="listing[title]"
            placeholder="Title"
            required
        >

        <textarea
            name="listing[description]"
            placeholder="Description"
            required
        ></textarea>

        <input
            type="file"
            name="listing[image]"
            required
        >

        <input
            type="number"
            name="listing[price]"
            placeholder="Price"
            required
        >

        <input
            type="text"
            name="listing[location]"
            placeholder="Location"
            required
        >

        <input
            type="text"
            name="listing[country]"
            placeholder="Country"
            required
        >

        <button type="submit">
            Add Listing
        </button>

    </form>

</div>